.max-width-container {
  box-sizing: border-box;
  max-width: 1400px;
  padding: 24px 0;

  &.full {
    width: 100%;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1250px 1fr;

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }
  }
}
