@font-face {
    font-family: LivvicBold;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1665060949/CA%20technical%20interview/Livvic%20font/Livvic/Livvic-Bold_sbw97e.ttf);
}

@font-face {
    font-family: Livvic;
    src: url(https://res.cloudinary.com/dalkffrhf/raw/upload/v1665060951/CA%20technical%20interview/Livvic%20font/Livvic/Livvic-Regular_hzzwgd.ttf);
}
